@font-face {
  font-family: 'management';
  src: url('../../assets/fonts/management.eot');
  src: url('../../assets/fonts/management.eot#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/management.ttf') format('truetype'),
    url('../../assets/fonts/management.woff') format('woff'),
    url('../../assets/fonts/management.svg#management') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  font-family: 'management' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-caret:before {
  content: '\e903';
}
.ic-chevron:before {
  content: '\e906';
}
.ic-close:before {
  content: '\e907';
}
.ic-search:before {
  content: '\e90d';
}
.ic-user:before {
  content: '\e971';
}
.ic-key:before {
  content: '\e98d';
}
