.gnb {
  border-bottom: 1px solid $border;

  &-wrapper {
    @include flexbox(between);
    height: 60px;
  }

  &-right {
    .button-group {
      @include flexbox(end);
    }
  }

  .logo {
    button {
      display: block;
    }

    img {
      display: block;
      width: auto;
      height: 50px;
    }
  }

  @include responsive(D) {
    &-left {
      @include flexbox(start);
    }

    &-right {
      @include flexbox(end);

      .input-group {
        width: 264px;
        margin-right: 24px;
      }
    }

    &-wrapper {
      height: 80px;
    }

    .logo {
      margin-right: 32px;

      img {
        height: 70px;
      }
    }
  }
}
