.gnb-icon-button {
  @include flexbox;
  width: 32px;
  height: 32px;
  font-size: 24px;
  color: $secondary;
  border-radius: 50%;
  margin-right: 4px;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;

  &.is-menu {
    color: $purple-dark;

    &:active {
      color: $purple;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &:active {
    color: $primary;
  }

  @include responsive(D) {
    &.is-user {
      margin-right: 0;
    }

    &:hover {
      color: $white;
      background-color: $purple;
    }
  }
}
